@media(max-width:900px ) {
    .conteiner {
        max-width: 280px;
        height: 510px;
        margin-top: 70px;
        font-size: 11px;

    }
    .imagem-qrcode img{
        width: 250px;
        height: 260px;
    }
    .principal h1 {
        font-size: 19px;

    }
    .paragrafo p {
        font-size: 14px;
        
    }
}



